set_io -nowarn led_red	41
set_io -nowarn led_green 39
set_io -nowarn led_blue	40                                                                                                         

# FTDI chip interface
set_io -nowarn serial_txd 14 # FPGA transmit to USB
set_io -nowarn serial_rxd 15 # FPGA receive from USB

# If using the FTDI MPSSE engine, the following signals apply
set_io -nowarn spi_sck 15  # Shared with the flash
set_io -nowarn spi_ssn 16  # Connected to SPI flash, drive high unless using SPI flash!
set_io -nowarn -pullup yes spi_ss  12  # Connected to GPIOL1
set_io -nowarn spi_mosi 17 # Shared with the flash
set_io -nowarn spi_miso 14 # Shared with the flash

set_frequency clk_12Mhz 12
set_io -nowarn clk_12Mhz 20
set_io -nowarn -pullup yes reset_ 10

set_io -nowarn hub75_RGB0_R 21
set_io -nowarn hub75_RGB0_G 13
set_io -nowarn hub75_RGB0_B 3
set_io -nowarn hub75_RGB1_R 19
set_io -nowarn hub75_RGB1_G 18
set_io -nowarn hub75_RGB1_B 4
set_io -nowarn hub75_Address[0] 11
set_io -nowarn hub75_Address[2] 9
set_io -nowarn hub75_Sclk 6
set_io -nowarn hub75_Blank 44
set_io -nowarn hub75_Address[1] 26
set_io -nowarn hub75_Address[3] 25
set_io -nowarn hub75_Address[4] 27
set_io -nowarn hub75_Latch 23
